.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todoList {
    width: 300px;
}

.todoList > div {
    padding: 10px;
}



.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}

.todoList-task.done {
    opacity: .5;
}
